In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
list1 = pd.read_csv('listings.csv')
# test_df = pd.read_csv('../input/test.csv')
# combine = [train_df, test_df]
newlist1= list1.drop(['host_name', 'last_review','host_id','calculated_host_listings_count'], axis=1)
newlist1.head()

IOError: File listings.csv does not exist

In [ ]:
list2 = pd.read_csv('/Users/Jialin/Google Drive/Cornell courses/ORIE 4741/Project/Seattle/listings2.csv')
# test_df = pd.read_csv('../input/test.csv')
# combine = [train_df, test_df]
list2.head()

In [5]:
review1 = pd.read_csv('/Users/Jialin/Google Drive/Cornell courses/ORIE 4741/Project/Seattle/reviews.csv')
# test_df = pd.read_csv('../input/test.csv')
# combine = [train_df, test_df]
review1.head()

   listing_id        date
0     7202016  2015-07-19
1     7202016  2015-07-20
2     7202016  2015-07-26
3     7202016  2015-08-02
4     7202016  2015-08-10

In [6]:
review2 = pd.read_csv('/Users/Jialin/Google Drive/Cornell courses/ORIE 4741/Project/Seattle/reviews2.csv')
# test_df = pd.read_csv('../input/test.csv')
# combine = [train_df, test_df]
review2.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [7]:
calendar = pd.read_csv('/Users/Jialin/Google Drive/Cornell courses/ORIE 4741/Project/Seattle/calendar.csv')
# test_df = pd.read_csv('../input/test.csv')
# combine = [train_df, test_df]
print(calendar.shape)
calendar.head()

(1393570, 4)

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [8]:
nbhd = pd.read_csv('/Users/Jialin/Google Drive/Cornell courses/ORIE 4741/Project/Seattle/neighbourhoods.csv')
# test_df = pd.read_csv('../input/test.csv')
# combine = [train_df, test_df]
nbhd.head()

  neighbourhood_group     neighbourhood
0             Ballard             Adams
1             Ballard     Loyal Heights
2             Ballard       Sunset Hill
3             Ballard     West Woodland
4             Ballard  Whittier Heights